@import "../common/styles/index";

.tab-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: @tabBarHeight;
  display: flex;
  background-color: #FFF;
  z-index: 10;
}

.tab-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: @colorDim;
  text-decoration: none;
  &.active {
    border-top-width: 1px;
    border-top-color: @colorMain;
    border-style: solid;
    color: @colorMain;
  }
  .icon {
    display: block;
    padding-bottom: 4px;
    font-size: @fontSizeIcon;
  }
  .tab-item-text {
    font-size: @fontSizeMin;
  }
}